/* ========================= */
/* :: 1.0 WEB FONTS  */
/* ========================= */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* ================================== */
/* :: 2.0 GLOBAL Variable Define CSS  */
/* ================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Google Font */
    --roboto-mono: 'Roboto Mono', monospace;
    --pt-sans: 'PT Sans', sans-serif;

    /* Color Palette */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #354231;
    --light-text-color: #3b5053;
    --body-color: #efe2b9;
    --light-body-color: #fffff0;
    --dark-brown-color: #795232;
    --yellow-color: #e1d42b;
    --sand-yellow-color: #f1ca4b;
    --light-yellow-color: #e2bb5e;
    --crimson-red-color: #971d00;
    --deep-orange-color: #d14d00;
    --purple-color: #4c2c4b;
    --dark-purple-color: #150218;
}

/* ========================= */
/* :: 3.0 COMMON CSS */
/* ========================= */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    color: var(--black-color);
    font-size: 15px;
    font-family: var(--roboto-mono);
    font-weight: 400;
    line-height: 1.35;
    background-color: var(--body-color);
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
section,
.section {
    position: relative;
}
a,
button {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
button {
    padding: 0;
    border: none;
    background: unset;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
ol li,
ul li {
    list-style: none;
}
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
input,
input:focus,
input:focus-visible,
input:active,
select,
.form-select,
.form-select:focus,
textarea {
    outline: none;
    box-shadow: none;
}
* + address,
* + dl,
* + fieldset,
* + figure,
* + ol,
* + p,
* + pre,
* + ul {
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    background: var(--black-color);
    color: var(--white-color);
    text-shadow: none;
}
::-moz-selection {
    background: var(--black-color);
    color: var(--white-color);
    text-shadow: none;
}

::selection {
    background: var(--black-color);
    color: var(--white-color);
    text-shadow: none;
}

/* Button CSS Start */
.btn {
    min-width: 140px;
    height: 50px;
    padding: 12px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background-color: var(--text-color);
}
.btn:hover {
    color: var(--white-color);
    background-color: var(--dark-brown-color);
}
/* Button CSS End */

/* Typography CSS Start */
.fs-xsm {
    font-size: 14px;
}
.fs-sm {
    font-size: 15px;
}
.fs-normal {
    font-size: 16px;
}
.fs-1 {
    font-size: 32px !important;
    line-height: 1;
}

.ff-pt-sans {
    font-family: var(--pt-sans);
}
/* Typography CSS End */

/* Color CSS Start */
.text-color {
    color: var(--text-color);
}
.text-dark-brown {
    color: var(--dark-brown-color);
}
.light-body-color {
    background-color: var(--light-body-color);
}
/* Color CSS End */

/* Reusable CSS Start */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.section__block {
    max-width: 940px;
}
.section__block__two {
    max-width: 780px;
}
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* Reusable CSS End */

/* ============================ */
/* :: 4.0 Header Area CSS Start */
/* ============================ */
.header__topbar__line {
    width: 100%;
    height: 4px;
}
.header__topbar__line:nth-child(1) {
    background-color: var(--text-color);
}
.header__topbar__line:nth-child(2) {
    background-color: var(--dark-brown-color);
}
.header__topbar__line:nth-child(3) {
    background-color: var(--sand-yellow-color);
}
.header__topbar__line:nth-child(4) {
    background-color: var(--light-yellow-color);
}
.header__topbar__line:nth-child(5) {
    background-color: var(--body-color);
}
/* ========================== */
/* :: 4.0 Header Area CSS End */
/* ========================== */

/* ============================= */
/* :: 5.0 Hero Section CSS Start */
/* ============================= */
.hero--section {
    padding: 80px 0;
    min-height: 300px;
    background-color: #fffff0;
}
.hero--section::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/bgs-thumbs/hero-bg.png') no-repeat center / cover;
    opacity: 0.2;
    z-index: -1;
}
.hero__badge {
    letter-spacing: 0.75em;
    font-weight: 600 !important;
}
.hero__links__wrap {
    gap: 16px;
}
.hero__link {
    font-size: 14px;
    color: var(--light-text-color);
}
.hero__link:hover {
    color: var(--dark-brown-color);
}
.hero__links__sep {
    width: 2px;
    height: 2px;
    background-color: var(--light-text-color);
}
/* =========================== */
/* :: 5.0 Hero Section CSS End */
/* =========================== */

/* ================================== */
/* :: 6.0 TextBlock Section CSS Start */
/* ================================== */
.textBlock--section {
    padding: 24px 0 48px;
}
/* =============================== */
/* :: 6.0 TextBlock Section CSS End */
/* =============================== */

/* ================================= */
/* :: 7.0 Services Section CSS Start */
/* ================================= */
.services__wrapper {
    padding: 24px 0;
    border-bottom: 1px solid var(--dark-brown-color);
}
.services__item {
    height: 100%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.services__icon {
    max-width: 48px;
}
/* =============================== */
/* :: 7.0 Services Section CSS End */
/* =============================== */

/* =============================== */
/* :: 8.0 Contact Section CSS Start */
/* =============================== */
.contact--section {
    padding: 24px 0;
}
.form__label {
    margin-bottom: 6px;
}
.form__input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    padding: 13px;
    font-size: 15px;
    color: var(--black-color);
    background-color: var(--white-color);
}
.form__input::placeholder {
    font-size: 15px;
    color: var(--text-color);
    opacity: 1;
}
.form__textarea {
    resize: none;
    height: 104px;
}
/* =============================== */
/* :: 8.0 Contact Section CSS End */
/* =============================== */

/* =============================== */
/* :: 9.0 Footer Section CSS Start */
/* =============================== */
.footer--area {
    padding: 24px 0;
    background-color: var(--dark-brown-color);
}
/* =============================== */
/* :: 9.0 Footer Section CSS End */
/* =============================== */

/* =========================================== */
/* :: 10.0 blog-article.html Section CSS Start */
/* =========================================== */
.blog-article--section {
    padding: 48px 0 64px;
}
.blog-article__icon__img {
    max-width: 80px;
    height: 80px;
    color: #231f20;
    margin-bottom: 40px;
}
.blog-article__inner__title,
.blog-article__para__link {
    color: var(--dark-brown-color);
}
/* ========================================= */
/* :: 10.0 blog-article.html Section CSS End */
/* ========================================= */

/* ======================= */
/* :: 11.0 Cards CSS Start */
/* ======================= */
.card--post {
    max-width: 360px;
    padding: 16px 16px 10px;
    border-radius: 0;
}
.card__thumb {
    width: 100%;
    height: 240px;
    border-radius: 10px;
}
.card__avatar {
    width: 24px;
    height: 24px;
}
.card__title__badge {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #ccc;
}
.card__action__info__item {
    gap: 5px;
    color: #9e9ea7;
}
.card__action__info__item .icon svg {
    width: 16px;
    height: 16px;
}
/* ===================== */
/* :: 11.0 Cards CSS End */
/* ===================== */

/* ============================== */
/* :: Page Theme Button CSS Start */
/* ============================== */
.page-theme-toggle {
    max-width: 1920px;
}
.page-theme-toggle-inner {
    position: absolute;
    top: 40px;
    right: 16px;
    z-index: 999;
}
.theme-switch {
    --switch-width: 56px;
    --switch-height: 27px;
    --slider-padding: calc(var(--switch-height) * 0.1);
    position: relative;
    width: var(--switch-width);
    height: var(--switch-height);
    background: linear-gradient(0deg, #87ceeb 0%, #e0f6ff 100%);
    border-radius: calc(var(--switch-height) / 2);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 calc(var(--switch-height) / 16) calc(var(--switch-height) / 5)
        rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: calc(var(--switch-height) / 32) solid #fff;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.page-theme-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
}

.sun,
.moon {
    position: absolute;
    width: calc(var(--switch-height) * 0.625);
    height: calc(var(--switch-height) * 0.625);
    border-radius: 50%;
    top: calc(var(--switch-height) * 0.15625);
    transition: 1s;
}

.sun {
    background: radial-gradient(circle, #ffd700 30%, #ffa500 70%);
    left: calc(var(--switch-height) * 0.1875);
    box-shadow: 0 0 calc(var(--switch-height) * 0.125) #ffd700;
    transform: scale(1);
}

.moon {
    background: radial-gradient(circle, #f4f4f4 30%, #e0e0e0 70%);
    right: calc(-0.875 * var(--switch-height));
    box-shadow: 0 0 calc(var(--switch-height) * 0.125) #f4f4f4;
    transform: scale(0);
}

.cloud {
    background-color: white;
    border-radius: calc(var(--switch-height) * 0.25);
    position: absolute;
    transition: 1s;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.cloud1 {
    width: calc(var(--switch-height) * 0.625);
    height: calc(var(--switch-height) * 0.21875);
    top: calc(var(--switch-height) * 0.21875);
    left: calc(var(--switch-height) * 1.0625);
}
.cloud1::before {
    width: calc(var(--switch-height) * 0.3125);
    height: calc(var(--switch-height) * 0.3125);
    top: calc(-0.15625 * var(--switch-height));
    left: calc(0.0625 * var(--switch-height));
}
.cloud1::after {
    width: calc(var(--switch-height) * 0.25);
    height: calc(var(--switch-height) * 0.25);
    top: calc(-0.125 * var(--switch-height));
    right: calc(0.0625 * var(--switch-height));
}

.cloud2 {
    width: calc(var(--switch-height) * 0.4375);
    height: calc(var(--switch-height) * 0.15625);
    top: calc(var(--switch-height) * 0.5625);
    left: calc(var(--switch-height) * 1.5);
}
.cloud2::before {
    width: calc(var(--switch-height) * 0.21875);
    height: calc(var(--switch-height) * 0.21875);
    top: calc(-0.09375 * var(--switch-height));
    left: calc(0.0625 * var(--switch-height));
}
.cloud2::after {
    width: calc(var(--switch-height) * 0.1875);
    height: calc(var(--switch-height) * 0.1875);
    top: calc(-0.09375 * var(--switch-height));
    right: calc(0.0625 * var(--switch-height));
}

.star {
    position: absolute;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    opacity: 0;
    transition: 1s;
}

.star1 {
    width: calc(var(--switch-height) * 0.125);
    height: calc(var(--switch-height) * 0.125);
    top: calc(var(--switch-height) * 0.1875);
    left: calc(var(--switch-height) * 0.25);
}
.star2 {
    width: calc(var(--switch-height) * 0.09375);
    height: calc(var(--switch-height) * 0.09375);
    top: calc(var(--switch-height) * 0.375);
    left: calc(var(--switch-height) * 0.53125);
}
.star3 {
    width: calc(var(--switch-height) * 0.09375);
    height: calc(var(--switch-height) * 0.09375);
    top: calc(var(--switch-height) * 0.59375);
    left: calc(var(--switch-height) * 0.3125);
}
.star4 {
    width: calc(var(--switch-height) * 0.09375);
    height: calc(var(--switch-height) * 0.09375);
    top: calc(var(--switch-height) * 0.25);
    left: calc(var(--switch-height) * 0.75);
}
.star5 {
    width: calc(var(--switch-height) * 0.0625);
    height: calc(var(--switch-height) * 0.0625);
    top: calc(var(--switch-height) * 0.5);
    left: calc(var(--switch-height) * 0.875);
}

input:checked + .page-theme-slider {
    background: linear-gradient(0deg, #1a1a2e 0%, #16213e 100%);
}

input:checked + .page-theme-slider .sun {
    left: calc(-0.75 * var(--switch-height));
    transform: scale(0);
}

input:checked + .page-theme-slider .moon {
    right: calc(0.1875 * var(--switch-height));
    transform: scale(1);
}

input:checked + .page-theme-slider .cloud {
    transform: translateX(var(--switch-width)) scale(0);
}

input:checked + .page-theme-slider .star {
    opacity: 1;
    transform: scale(1.2);
}

/* ============================ */
/* :: Page Theme Button CSS End */
/* ============================ */

/* ========================== */
/* :: DarkMode CSS Start */
/* ========================== */
html.dark-mode body {
    color: var(--white-color);
    background-color: var(--dark-purple-color);

    *::-moz-selection {
        background: var(--white-color);
        color: var(--black-color);
        text-shadow: none;
    }
    ::-moz-selection {
        background: var(--white-color);
        color: var(--black-color);
        text-shadow: none;
    }
    ::selection {
        background: var(--white-color);
        color: var(--black-color);
        text-shadow: none;
    }
}

html.dark-mode .btn {
    background-color: var(--deep-orange-color);
}
html.dark-mode .btn:hover {
    color: var(--black-color);
    background-color: var(--yellow-color);
}
html.dark-mode .text-color,
html.dark-mode .text-dark-brown,
html.dark-mode .hero__link {
    color: var(--white-color);
}

html.dark-mode .header__topbar__line:nth-child(1) {
    background-color: var(--yellow-color);
}
html.dark-mode .header__topbar__line:nth-child(2) {
    background-color: var(--deep-orange-color);
}
html.dark-mode .header__topbar__line:nth-child(3) {
    background-color: var(--crimson-red-color);
}
html.dark-mode .header__topbar__line:nth-child(4) {
    background-color: var(--purple-color);
}
html.dark-mode .header__topbar__line:nth-child(5) {
    background-color: var(--dark-purple-color);
}

html.dark-mode .hero--section {
    background-color: #360639;
}
html.dark-mode .hero--section::after {
    background-image: url('../imgs/bgs-thumbs/hero-bg-dark.png');
}
html.dark-mode .blog-article__icon__img {
    color: var(--body-color);
}

html.dark-mode .main__title,
html.dark-mode .contact--section .section__title,
html.dark-mode .contact--section .form__label,
html.dark-mode .hero__link:hover,
html.dark-mode .blog-article__inner__title,
html.dark-mode .blog-article__para__link {
    color: var(--yellow-color);
}

html.dark-mode .hero__links__sep {
    background-color: var(--white-color);
}

html.dark-mode .services__wrapper {
    padding: 0 0 48px;
    border-color: var(--yellow-color);
}
html.dark-mode .services__icon img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(32%) saturate(4639%)
        hue-rotate(272deg) brightness(80%) contrast(90%);
}

html.dark-mode .contact--section {
    padding: 48px 0;
}

html.dark-mode .footer--area {
    background-color: var(--crimson-red-color);
}

/* ======================== */
/* :: DarkMode CSS End */
/* ======================== */
